body { background-color: white; color: rgb(150, 150, 150); background-image:url(../img/pattern.png) }

/* Padding on the top of the home page */
.top-space { width: 100%; height: 50px }
/* Padding on the top of internal pages */
.top-space2 { width: 100%; height: 80px }

/* Navbar style */
.navbar { background-color: rgba(232, 76, 61, 0.92); border-color: rgba(232, 76, 61, 0.92); border: 0px;}

.navbar-default .navbar-brand { color: rgb(255, 255, 255) }
.navbar-default .navbar-brand:visited { color: rgb(255, 255, 255) }
.navbar-default .navbar-brand:hover { color: rgb(255, 255, 255) }

.navbar-default .navbar-nav>li>a { color: rgb(255, 255, 255) }

.navbar-default .navbar-nav .open .dropdown-menu>li>a { color: rgb(255, 255, 255) }
.navbar-default .navbar-nav>li>a:visited { color: rgb(255, 255, 255) }
.navbar-default .navbar-nav>li>a:hover { color: rgb(255, 255, 255); border-bottom: 3px solid; border-bottom-color: rgb(255, 255, 255)}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover { color: rgb(232, 76, 61) }

.navbar-default .navbar-nav>.active>a { color: rgb(232, 76, 61); font-weight: bold; background-color: rgb(255, 255, 255); border-bottom: 3px solid; border-bottom-color: rgb(255, 255, 255) }
.navbar-default .navbar-nav>.active>a:visited { color: rgb(232, 76, 61); font-weight: bold; background-color: rgb(255, 255, 255); border-bottom: 3px solid; border-bottom-color: rgb(255, 255, 255) }
.navbar-default .navbar-nav>.active>a:hover { color: rgb(232, 76, 61); font-weight: bold; background-color: rgb(255, 255, 255) border-bottom: 3px solid; border-bottom-color: rgb(255, 255, 255) }

.navbar-default .navbar-nav>.open>a { background-color: rgb(232, 76, 61) }
.navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { background-color: rgb(232, 76, 61); color: rgb(255, 236, 19) }

.dropdown-menu { background-color: rgb(232, 76, 61) }
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover { background-color: #e84c3d; color: rgb(232, 76, 61) }
.dropdown-menu>li>a { color: rgb(255, 255, 255) }

.navbar-default .navbar-toggle { border-color: rgb(255, 255, 255) }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: rgb(232, 76, 61) }
.navbar-default .navbar-toggle .icon-bar { background-color: rgb(255, 255, 255) }

/* Breadcrumb style */
.breadcrumb {background: rgba(200, 200, 200, 0.92); border: 0px solid rgb(232, 76, 61); border-radius: 0px; display: block;}
.breadcrumb li {font-size: 12px}
.breadcrumb a {color: rgb(255, 255, 255);}
.breadcrumb a:hover {color: rgb(232, 76, 61);}
.breadcrumb>.active {color: rgb(100, 100, 100);}
.breadcrumb>li+li:before {color: rgb(100, 100, 100); content: "\002F\00a0";}

.breadcrumbsdiv{
    z-index: 999;
    width: 100%;
    top: 50px;
    position: fixed;
}

/* Colums section style */
.container { padding-top: 30px }

.img-column { border-radius: 0%; width: 150px; height: 160px; padding-bottom: 10px; }

.img-column2 { max-width: 100%; }

.alignleft { float: left; padding: 15px 15px 15px 0; }

.alignright { float: right; padding: 15px 0 15px 15px 15px; }

/* Round rect image */
.rounded-img { border-radius: 3px }

/* Map box style */
.map-box {  border-radius: 5px; width:100%; height:250px }

/* Buttons style */
.btn-default {
    color: rgb(255, 255, 255);
    background-color: rgb(232, 76, 61);
    border-radius: 3px;
    border: 0px solid;

    background: -webkit-gradient(linear, left top, left bottom, from(#fe8277), to(#e84c3d));
    background: -webkit-linear-gradient(top,  #fe8277,  #e84c3d);
    background: -moz-linear-gradient(top,  #fe8277,  #e84c3d);
    background: -ms-linear-gradient(top,  #fe8277,  #e84c3d);
    background: -o-linear-gradient(top,  #fe8277,  #e84c3d);
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: rgb(255, 255, 255);
    background-color: rgb(232, 76, 61);
    border: 0px solid;

    background: -webkit-gradient(linear, left top, left bottom, from(#e84c3d), to(#fe8277));
    background: -webkit-linear-gradient(top,  #e84c3d,  #fe8277);
    background: -moz-linear-gradient(top,  #e84c3d,  #fe8277);
    background: -ms-linear-gradient(top,  #e84c3d,  #fe8277);
    background: -o-linear-gradient(top,  #e84c3d,  #fe8277);
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image: none;

    background: -webkit-gradient(linear, left top, left bottom, from(#e84c3d), to(#fe8277));
    background: -webkit-linear-gradient(top,  #e84c3d,  #fe8277);
    background: -moz-linear-gradient(top,  #e84c3d,  #fe8277);
    background: -ms-linear-gradient(top,  #e84c3d,  #fe8277);
    background: -o-linear-gradient(top,  #e84c3d,  #fe8277);
}

/* List group items style */
a.list-group-item { color: rgb(255, 255, 255); background-color: rgb(232, 76, 61); border-color: rgb(232, 76, 61) }
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover { color: rgb(232, 76, 61); font-weight: bold; background-color: rgb(255, 255, 255); border-color: rgb(255, 255, 255); border-left: 3px solid; border-left-color: rgb(255, 255, 255) }
a.list-group-item:focus, a.list-group-item:hover { color: rgb(255, 255, 255); background-color: rgb(232, 76, 61); border-left: 3px solid; border-left-color: rgb(255, 255, 255) }
.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
}

a {
    cursor: pointer;
}

.inactiveLink {
    color: grey;
}


/* Back to Top button style */
.backtotopdiv{
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.backtotop{
    color: rgb(0, 0, 0);
}

.backtotop:hover{
    color: rgb(232, 76, 61);
}

/*Text*/
.text-muted {
    color: rgb(230, 230, 230);
}

/*Sticky footer settings*/
html, body {
    height:100%;
}

.mycontainer {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto 0px;
}

.footer .push {
    height: 80px;
    clear: both;
}

/* Footer style */
.footer { background-color: rgba(150, 150, 150, 0.92); margin-top: 20px; font-size: 11px; }

/*Row*/
.row {margin-left: 0px;}

/*col*/
.col-xs-6 {height: 159px;}

/*Change the time while collapse*/
@media (max-width: 970px) {
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }
}