body {
    background-color: white;
    color: black;
}

img {
    display: none;
}

#sidebar {
    display: none;
}

.btn {
    display: none;
}

.glyphicon-print {
    display: none;
}

.footer {
    display: none;
}