body { background-color: rgb(40, 40, 40); color: rgb(199, 199, 199) }

/* Padding on the top of the page */
.top-space { width: 100%; height: 50px }

/* Navbar style */
.navbar { background-color: rgb(29, 27, 16); border-color: rgb(29, 27, 16)}

.navbar-default .navbar-brand { color: rgb(255, 255, 255) }
.navbar-default .navbar-brand:visited { color: rgb(255, 255, 255) }
.navbar-default .navbar-brand:hover { color: rgb(255, 255, 255) }

.navbar-default .navbar-nav>li>a { color: rgb(255, 255, 255) }

.navbar-default .navbar-nav .open .dropdown-menu>li>a { color: rgb(255, 255, 255) }
.navbar-default .navbar-nav>li>a:visited { color: rgb(255, 255, 255) }
.navbar-default .navbar-nav>li>a:hover { color: rgb(255, 236, 19) }

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover { color: rgb(255, 236, 19) }


.navbar-default .navbar-nav>.active>a { color: rgb(255, 255, 255); background-color: rgb(255, 236, 19) }
.navbar-default .navbar-nav>.active>a:visited { color: rgb(0, 0, 0); background-color: rgb(255, 236, 19) }
.navbar-default .navbar-nav>.active>a:hover { color: rgb(0, 0, 0); background-color: rgb(255, 236, 19) }

.navbar-default .navbar-nav>.open>a { background-color: rgb(29, 27, 16) }
.navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover { background-color: rgb(29, 27, 16); color: rgb(255, 236, 19) }

.dropdown-menu { background-color: rgb(29, 27, 16) }
.dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover { background-color: rgb(29, 27, 16); color: rgb(255, 236, 19) }
.dropdown-menu>li>a { color: rgb(255, 255, 255) }

.navbar-default .navbar-toggle { border-color: rgb(255, 255, 255) }
.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover { background-color: rgb(29, 27, 16) }
.navbar-default .navbar-toggle .icon-bar { background-color: rgb(255, 255, 255) }

/* Breadcrumb style */
.breadcrumb {background: rgb(29, 27, 16); border: 0px solid rgb(29, 27, 16); border-radius: 0px; display: block;}
.breadcrumb li {font-size: 12px}
.breadcrumb a {color: rgb(255, 255, 255);}
.breadcrumb a:hover {color: rgb(255, 236, 19);}
.breadcrumb>.active {color: rgb(199, 199, 199);}
.breadcrumb>li+li:before {color: rgb(204, 204, 204); content: "\002F\00a0";}

.breadcrumbsdiv{
    z-index: 999;
    width: 100%;
    height: 40px;
}

.breadcrumbsfixeddiv{
    z-index: 999;
    width:100%;
    position: fixed;
    top:50px;
}

/* Colums section style */
.container { padding-top: 30px }

.img-column { border-radius: 0%; width: 100% }

/* Buttons style */
.btn-default {
    color: #000000;
    background-color: #ffec13;
    border-color: #1d1b10;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    color: #000000;
    background-color: #cdbe10;
    border-color: #1d1b10;
}

.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
    background-image: none;
}

/* List group items style */
a.list-group-item { color: rgb(255, 255, 255); background-color: rgb(29, 27, 16); border-color: rgb(29, 27, 16) }
.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover { color: rgb(0, 0, 0); background-color: rgb(255, 236, 19); border-color: rgb(29, 27, 16)}
a.list-group-item:focus, a.list-group-item:hover { color: rgb(255, 236, 19); background-color: rgb(29, 27, 16) }
.list-group-item:first-child {
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
    border-top-color: rgb(255, 236, 19);
}
.list-group-item:last-child {
    margin-bottom: 0;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    border-bottom-color: rgb(255, 236, 19);
}

/* Back to Top button style */
.backtotopdiv{
    z-index: 999;
    position: fixed;
    bottom: 20px;
    right: 20px;
}

.backtotop{
    color: rgb(255, 255, 255);
}

.backtotop:hover{
    color: rgb(255, 236, 19);
}

/* Footer style */
.footer { background-color: rgb(0, 0, 0); margin-top: 30px }